<!DOCTYPE html>
<html>
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9061192113102783"
     crossorigin="anonymous"></script>

<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Withdrawal</title>
<style>
body{font-family:Arial;background:#f3f5f9;margin:0}
.box{max-width:450px;margin:40px auto;background:white;padding:25px;border-radius:20px}
input,button{width:100%;box-sizing:border-box;padding:14px;margin:8px 0;border-radius:10px}
input{border:1px solid #ddd}
button{background:#6c2cff;color:white;border:0;font-size:17px}
a{display:block;margin-top:15px;color:#6c2cff}
.error{color:red}
</style>
</head>
<body>
<div class="box">
<h1>💰 Withdrawal</h1>

<p>Available Points: <b>{{ user.points }}</b></p>
<p>100 Points = ₹10</p>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form method="POST">
<input type="number" name="amount" placeholder="Amount ₹" min="10" required>
<input type="text" name="upi" placeholder="UPI ID" required>
<button type="submit">Request Withdrawal</button>
</form>

<a href="/">← Dashboard</a>
<a href="/history">📜 Withdrawal History</a>
</div>
</body>
</html>
